<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>

<div class="login">
<h1>Speak to your coach</h1>
  <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="your_message" placeholder="what time is it?">
    <input type="submit" value="Go on!" class="btn btn-primary btn-block btn-large">
  </form>
</div>
